version: '3'
services:
  nginx:
    build: ./config/nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/static
    image: 313862985827.dkr.ecr.ap-northeast-2.amazonaws.com/domtory-nginx:latest
    depends_on:
      - web
    platform: linux/amd64
  web:
    build:
      context: .
      dockerfile: ./config/web/Dockerfile
    volumes:
      - static_volume:/project/data/static
      - ./:/project/code
    command: ["./start.sh"]
    ports:
      - "8000:8000"
    platform: linux/amd64
    image: 313862985827.dkr.ecr.ap-northeast-2.amazonaws.com/domtory-web:latest
    environment:
      - DJANGO_SETTINGS_MODULE=server.settings.prod
    env_file:
      - .env
    depends_on:
      - rabbitmq
  beat:
    image: 313862985827.dkr.ecr.ap-northeast-2.amazonaws.com/domtory-beat:latest
    build:
      context: .
      dockerfile: ./config/web/Dockerfile
    command: celery -A server beat --loglevel info
    platform: linux/amd64
    env_file:
      - .env
    volumes:
      - ./:/project/code
    depends_on:
      - rabbitmq
      - web
  worker:
    image: 313862985827.dkr.ecr.ap-northeast-2.amazonaws.com/domtory-worker:latest
    build:
      context: .
      dockerfile: ./config/web/Dockerfile
    command: celery -A server worker -P gevent -c 100 --loglevel=info
    platform: linux/amd64
    env_file:
      - .env
    volumes:
      - ./:/project/code
    depends_on:
      - rabbitmq
      - web
  rabbitmq:
    image: rabbitmq:3-management-alpine
    environment:
      - RABBITMQ_DEFAULT_USER=admin
      - RABBITMQ_DEFAULT_PASS=admin
    platform: linux/amd64
    ports:
      - "5672:5672"
      - "15672:15672"
volumes:
  static_volume: